{% extends 'base.html' %}
{%block title%} Cow-Mats {%endblock title%} 
{%block css%} {%endblock css%}
{%block itemname%} DEHATI COW-MAT: {%endblock itemname%} 
{%block listitem1%} <pre>*Material: Eva Rubber</pre>{%endblock listitem1%}
{%block listitem2%} <pre>*Size: 8'x5'</pre>{%endblock listitem2%}
{%block listitem3%} <pre>*Thickness: 25-28mm</pre>{%endblock listitem3%}
{%block listitem4%} <pre>*Slip Resistant</pre>{%endblock listitem4%}
{%block listitem5%} <pre>*Anti Bacterial</pre>{%endblock listitem5%}
{%block listitem6%} <pre>*Water Proof</pre>{%endblock listitem6%}
{%block listitem7%} <pre>*Increases Milk Production</pre>{%endblock listitem7%}
{%block listitem8%} <pre>*Easy to Clean</pre>{%endblock listitem8%}
{%block listitem9%} <pre>*Avoid Injuries</pre>{%endblock listitem9%}
{%block listitem10%}<pre>*Comfortable Laying Time</pre>{%endblock listitem10%}
{%block img1%} <img src="/shop/static/img/cowmat/4.jpg" alt="1"> {%endblock img1%}
{%block img2%} <img src="/shop/static/img/cowmat/2.jpg" alt="2"> {%endblock img2%}
{%block img3%} <img src="/shop/static/img/cowmat/3.jpg" alt="3"> {%endblock img3%}
{%block img4%} <img src="/shop/static/img/cowmat/1.jpg" alt="4"> {%endblock img4%}
{%block img5%} <img src="/shop/static/img/cowmat/5.jpg" alt="5"> {%endblock img5%}
{%block img6%} <img src="/shop/static/img/cowmat/6.jpg" alt="6"> {%endblock img6%}