{% extends 'base.html' %}
{%block title%} Dehati-Motors {%endblock title%} 
{%block css%} {%endblock css%}
{%block itemname%} DEHATI MOTORS: {%endblock itemname%} 
{%block listitem1%} <pre>* Copper Windings</pre>{%endblock listitem1%}
{%block listitem2%} <pre>* Heavy Bearings</pre>{%endblock listitem2%}
{%block listitem3%} <pre>* Auto-Cut on Load</pre>{%endblock listitem3%}
{%block listitem4%} <pre>* Long Life Capacitors</pre>{%endblock listitem4%}
{%block listitem5%} <pre>* Cast Iron Body</pre>{%endblock listitem5%}
{%block listitem6%} <pre>* With Pully</pre>{%endblock listitem6%}
{%block listitem7%} <pre>* Foam & Carton Packaging</pre>{%endblock listitem7%}
{%block listitem8%} <pre>* Blue & Grey Color</pre>{%endblock listitem8%}
{%block listitem9%} <pre>* Induction Based</pre>{%endblock listitem9%}
{%block listitem10%} <pre>* 100 Days Guarantee. </pre>{%endblock listitem10%}
{%block img1%} <img src="/shop/static/img/dehati/4.jpg" alt="1"> {%endblock img1%}
{%block img2%} <img src="/shop/static/img/dehati/3.jpg" alt="2"> {%endblock img2%}
{%block img3%} <img src="/shop/static/img/dehati/1.jpg" alt="3"> {%endblock img3%}
{%block img4%} <img src="/shop/static/img/dehati/2.jpg" alt="4"> {%endblock img4%}
{%block img5%} <img src="/shop/static/img/dehati/5.jpg" alt="5"> {%endblock img5%}
{%block img6%} <img src="/shop/static/img/dehati/6.jpg" alt="6"> {%endblock img6%}