{% extends 'base.html' %}
{%block title%} India Mark II Pumps {%endblock title%} 
{%block css%} {%endblock css%}
{%block itemname%} INDIA MARK-II HANDPUMPS: {%endblock itemname%} 
{%block listitem1%} <pre>*Iron Body</pre>{%endblock listitem1%}
{%block listitem2%} <pre>*Galvanised Steel</pre>{%endblock listitem2%}
{%block listitem3%} <pre>*Cylinder diameter (mm):63.5</pre>{%endblock listitem3%}
{%block listitem4%} <pre>*Maximum Stroke (mm): 125</pre>{%endblock listitem4%}
{%block listitem5%} <pre>*Approx. Discharge: 10 m</pre>{%endblock listitem5%}
{%block listitem6%} <pre>*Pumping lift (m): 10-50</pre>{%endblock listitem6%}
{%block listitem7%} <pre>*Population served (nos.): 300</pre>{%endblock listitem7%}
{%block listitem8%} <pre>*Households (nos.): 30</pre>{%endblock listitem8%}
{%block listitem9%} <pre>*Water consumption: 15-20</pre>{%endblock listitem9%}
{%block listitem10%} <pre>*Type of well:  Borehole</pre>{%endblock listitem10%}
{%block img1%} <img src="/shop/static/img/Indiamark/1.jpeg" alt="1"> {%endblock img1%}
{%block img2%} <img src="/shop/static/img/Indiamark/2.png" alt="2"> {%endblock img2%}
{%block img3%} <img src="/shop/static/img/Indiamark/3.jpg" alt="3"> {%endblock img3%}
{%block img4%} <img src="/shop/static/img/Indiamark/4.jpg" alt="4"> {%endblock img4%}
{%block img5%} <img src="/shop/static/img/Indiamark/5.jpg" alt="5"> {%endblock img5%}
{%block img6%} <img src="/shop/static/img/Indiamark/7.jpg" alt="6"> {%endblock img6%}