{% extends 'base.html' %}
{%block title%} Motors {%endblock title%} 
{%block css%} {%endblock css%}
{%block itemname%} INDUCTION MOTORS: {%endblock itemname%} 
{%block listitem1%} <pre>* Available in 2HP,3HP</pre>{%endblock listitem1%}
{%block listitem2%} <pre>* Single & Double Phase</pre>{%endblock listitem2%}
{%block listitem3%} <pre>* Auto-Cut on Load</pre>{%endblock listitem3%}
{%block listitem4%} <pre>* Long Life Capacitors</pre>{%endblock listitem4%}
{%block listitem5%} <pre>* Cast Iron Body</pre>{%endblock listitem5%}
{%block listitem6%} <pre>* Copper Windings</pre>{%endblock listitem6%}
{%block listitem7%} <pre>* Heavy Bearings</pre>{%endblock listitem7%}
{%block listitem8%} <pre>* Any Color</pre>{%endblock listitem8%}
{%block listitem9%} <pre>* Induction Based</pre>{%endblock listitem9%}
{%block listitem10%} <pre>* Foam & Carton Packaging</pre>{%endblock listitem10%}
{%block img1%} <img src="/shop/static/img/motors/1.png" alt="1"> {%endblock img1%}
{%block img2%} <img src="/shop/static/img/motors/2.png" alt="2"> {%endblock img2%}
{%block img3%} <img src="/shop/static/img/motors/3.png" alt="3"> {%endblock img3%}
{%block img4%} <img src="/shop/static/img/motors/4.png" alt="4"> {%endblock img4%}
{%block img5%} <img src="/shop/static/img/motors/5.png" alt="5"> {%endblock img5%}
{%block img6%} <img src="/shop/static/img/motors/6.png" alt="6"> {%endblock img6%}
