{% extends 'base.html' %}
{%block title%} Pumps {%endblock title%} 
{%block css%} {%endblock css%}
{%block itemname%} HANDPUMPS{%endblock itemname%} 
{%block listitem1%} <pre>*Available in all Weights.</pre>{%endblock listitem1%}
{%block listitem2%} <pre>*4 No.,6 No.,Light,Heavy </pre>{%endblock listitem2%}
{%block listitem3%} <pre>*Model: Maya</pre>{%endblock listitem3%}
{%block listitem4%} <pre>*Height Without Handle: Depends</pre>{%endblock listitem4%}
{%block listitem5%} <pre>*Height With Handle: Depends</pre>{%endblock listitem5%}
{%block listitem6%} <pre>*Weight Without Handle: Depends</pre>{%endblock listitem6%}
{%block listitem7%} <pre>*Weight With Handle: Depends</pre>{%endblock listitem7%}
{%block listitem8%} <pre>*Suction capacity: 22 to 26 Ft.</pre>{%endblock listitem8%}
{%block listitem9%} <pre>*Spare Parts also available</pre>{%endblock listitem9%}
{%block listitem10%} <pre> </pre>{%endblock listitem10%}
{%block img1%} <img src="/shop/static/img/pump/1.jpg" alt="1"> {%endblock img1%}
{%block img2%} <img src="/shop/static/img/pump/2.jpg" alt="2"> {%endblock img2%}
{%block img3%} <img src="/shop/static/img/pump/3.jpg" alt="3"> {%endblock img3%}
{%block img4%} <img src="/shop/static/img/pump/4.png" alt="4"> {%endblock img4%}
{%block img5%} <img src="/shop/static/img/pump/5.jpg" alt="5"> {%endblock img5%}
{%block img6%} <img src="/shop/static/img/pump/6.jpg" alt="6"> {%endblock img6%}