{% extends 'base.html' %}
{%block title%} HDPE Roll-Pipes {%endblock title%} 
{%block css%} {%endblock css%}
{%block itemname%} HDPE ROLL-PIPES: {%endblock itemname%} 
{%block listitem1%} <pre>*Available in all lengths & sizes</pre>{%endblock listitem1%}
{%block listitem2%} <pre>*21,24,27,30,40 mtr.</pre>{%endblock listitem2%}
{%block listitem3%} <pre>*Thickness: 6.5 mm</pre>{%endblock listitem3%}
{%block listitem4%} <pre>*Color	Black</pre>{%endblock listitem4%}
{%block listitem5%} <pre>*Connection End Type: Flange</pre>{%endblock listitem5%}
{%block listitem6%} <pre>*Flow Rate: 2 (Litre Per Hour)</pre>{%endblock listitem6%}
{%block listitem7%} <pre>*Diameter: Depends(1,1.25,2.5 inches)</pre>{%endblock listitem7%}
{%block listitem8%} <pre>*Material: HDPE</pre>{%endblock listitem8%}
{%block listitem9%} <pre>*Polythene Cover</pre>{%endblock listitem9%}
{%block listitem10%} <pre>*Material Grade: PE 100 </pre>{%endblock listitem10%}
{%block img1%} <img src="/shop/static/img/Rollpipes/1.jpeg" alt="1"> {%endblock img1%}
{%block img2%} <img src="/shop/static/img/Rollpipes/2.jpg" alt="2"> {%endblock img2%}
{%block img3%} <img src="/shop/static/img/Rollpipes/3.jpg" alt="3"> {%endblock img3%}
{%block img4%} <img src="/shop/static/img/Rollpipes/4.jpg" alt="4"> {%endblock img4%}
{%block img5%} <img src="/shop/static/img/Rollpipes/5.jpg" alt="5"> {%endblock img5%}
{%block img6%} <img src="/shop/static/img/Rollpipes/6.jpg" alt="6"> {%endblock img6%}